.outterSwitch {
    overflow: hidden;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    border: 1px solid white;
    background-color: lightblue;
    -webkit-box-shadow: inset 0px 1px 6px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: inset 0px 1px 6px 0px rgba(0,0,0,0.45);
    box-shadow: inset 0px 1px 6px 0px rgba(0,0,0,0.45);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

.outterSwitch .innerSwitch {
    position: relative;
    left: 0px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: white;
    border: .5px solid white;
    -webkit-box-shadow: inset 0px 1px 6px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: inset 0px 1px 6px 0px rgba(0,0,0,0.45);
    box-shadow: inset 0px 1px 6px 0px rgba(0,0,0,0.45);

}
.outterSwitch .content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    float: left;
    color: white;
    display: table-cell;
    vertical-align: center;
    width: 50%;
    height: 100%;
}
.outterSwitch .content p {
    position: relative;
    text-align: center;
}